/* Login.css */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-sign {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-sign {
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.form-group label {
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

a {
  text-align: right;
  color: #888;
  text-decoration: none;
  font-size: 14px;
}

.btn-sign {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-sign:hover {
  background-color: #0056b3;
}

p {
  margin-top: 10px;
  text-align: center;
}

p a {
  color: #007bff;
  text-decoration: none;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
.register {
  color: #0056b3;
}
