@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #4c4c4c;
  font-family: "Rubik", sans-serif;
  line-height: 1.4;
}

.place {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: #c9c9c9;
}

.place-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #272727;
}
.wrapper {
  max-width: 890px;
  margin: 0 auto;
  padding: 0 16px;
}

.place .wrapper {
  width: 100%;
  max-width: 560px;
}
.place-header {
  overflow: hidden;
  height: 162px;
  position: relative;
}

.place-header__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
}
.place-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  padding-top: 24px;
  padding-bottom: 0;
  background: #181818;
  border-radius: 24px 24px 0 0;
  margin-top: -32px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.place-title {
  margin: 0 0 4px;
  font-weight: 400;
  color: #dedede;
  font-size: 2em;
}
.place-info {
  margin-bottom: 8px;
  font-size: 14px;
  color: #676767;
  margin-top: 4px;
}
.place-info__address {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.place-info__block {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}
.place-info__block:not(:last-child) {
  margin-right: 12px;
}
.place-info__description {
  display: flex;
  flex-direction: column;
  grid-gap: 8px 0;
  gap: 8px 0;
}
.menu-list {
  position: relative;
}
.right-fade:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: calc(100% - 4px);
  width: 40px;
  pointer-events: none;
  background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0) 0, #fff);
  background: linear-gradient(90deg, #181818, hsla(0, 0%, 100%, 0) 0, #181818);
}
.menu-list .base-scrollbar {
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 4px 22px 16px 0;
  grid-gap: 0 8px;
  gap: 0 8px;
}
.base-scrollbar {
  overflow-y: auto;
  position: relative;
  height: 100%;
  scrollbar-color: #676767;
  scrollbar-width: thin;
}
.menu {
  display: flex;
  align-items: center;
  border-radius: 32px;
  position: relative;
  justify-content: center;
}
.menu__button {
  cursor: pointer;
  background: #181818;
  border: 3px solid#4f009e;
  border-radius: 32px;
  padding: 5px 10px 4px;
  color: #4f009e;
  font-weight: 600;
  white-space: nowrap;
  transition: background 0.25s, color 0.25s;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
}
._selected .menu__button,
.menu__button:hover {
  background: #4f009e;
  color: #181818;
}
/* Cafe-list */
.cafe-list {
  padding-bottom: 24px;
}
.category-list {
  display: flex;
  flex-direction: column;
}
.list {
  padding-bottom: 24px;
}
.menu-item-search {
  display: flex;
  flex-direction: column;
}
.menu-item-search-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 64px;
  margin-bottom: 16px;
}
.menu-item-search-form-field {
  position: relative;
  flex-grow: 1;
}
.menu-item-search-form .base-form-input {
  border-radius: 32px;
}
.base-form-input--regular {
  font-size: 14px;
  padding: 10px 14px;
}
.base-form-input {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  grid-gap: 8px;
  gap: 8px;
  width: 100%;
  background-color: #252424;
  border-radius: 8px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  border: 2px solid transparent;
  transition: all 0.3s;
  color: #423c3c;
  cursor: text;
}
.base-form-input-input {
  appearance: none;
  width: 100%;
  background: transparent;
  border: none;
  padding: 0;
  line-height: 1;
}
input {
  color: #c9c9c9;
  font-family: "Rubik", Arial, sans-serif;
  border: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}
.menu-item-search-form .menu-item-search-form-button {
  position: absolute;
  top: 4px;
  right: 6px;
  border-radius: 100%;
  padding: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.25s;
}
.round-button {
  position: relative;
  border: none;
  background: #181818;
  border-radius: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.18);
}

/* Menu category Css */
.category-list {
  display: flex;
  flex-direction: column;
}
.category-list__item:not(:last-child) {
  margin-bottom: 16px;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.category-item {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 1;
  overflow: hidden;
}
.category-item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 26px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.46);
  box-shadow: var(--shadow-1);
  background-size: cover;
  background-position: 50%;
  /* -webkit-user-select: none;
  -moz-user-select: none; */
  user-select: none;
}
.place-content__footer {
  font-size: 12px;
  margin-top: auto;
  padding-bottom: 16px;
  padding-top: 16px;
  text-align: center;
  color: #676767;
}

.back-button svg {
  width: 20px;
  height: 20px;
  color: #e3e3e3;
}

/*Dùng để ẩn/hiện button back
  - khi đang được hiện trên css -> ẩn button
*/
.place-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  z-index: 100;
  transform: translateZ(0);
}
.place-nav__inner {
  position: relative;
  padding: 0;
}
.back-button {
  position: absolute;
  top: 10px; /* Điều chỉnh giá trị top tùy thuộc vào vị trí mong muốn */
  left: 10px;
  background: #181818;
  border-radius: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.sign-button {
  position: absolute;
  top: 10px; /* Điều chỉnh giá trị top tùy thuộc vào vị trí mong muốn */
  right: 10px; /* Điều chỉnh giá trị right tùy thuộng vào vị trí mong muốn */
  border: none;
  background: #181818;
  border-radius: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.menu-item-list {
  margin-bottom: 32px;
}
.menu-item-list__title {
  margin-top: 0;
  display: flex;
  align-items: center;
  grid-gap: 4px;
  gap: 4px;
}
.h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  margin: 32px 0 18px;
}
.menu-item-list__item:not(:last-child) {
  margin-bottom: 56px;
}
.menu-item-image {
  flex-shrink: 0;
  display: flex;
  /* -webkit-user-select: none;
  -moz-user-select: none; */
  user-select: none;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1.61 / 1;
}

.base-lazy {
  position: relative;
}
.base-lazy__loader {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 4;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #252424;
  background-size: 800px 104px;
}
.base-lazy._loaded img {
  opacity: 1;
}
.base-lazy img {
  position: relative;
  opacity: 0;
  transition: opacity 0.25s;
}
.menu-item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.menu-item-image .base-lazy__loader,
.menu-item-image img {
  border-radius: 26px;
}
.menu-item-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menu-item-header {
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-start;
  width: 100%;
  grid-gap: 16px;
  gap: 16px;
  margin-bottom: 6px;
}
.menu-item-title {
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  flex-grow: 1;
  margin: 0;
}
.base-text-collapse {
  position: relative;
  margin-bottom: 6px;
  color: #676767;
  font-size: 14px;
  overflow: hidden;
}
.base-text-collapse p {
  margin: 0;
  line-height: 1.46;
}
.menu-item-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.menu-item-price {
  font-weight: 500;
  display: flex;
  align-items: center;
  line-height: 1;
}
.menu-item-price--regular .menu-item-price__current {
  font-size: 24px;
}
.menu-item-price__current {
  display: flex;
  align-items: flex-start;
  color: #4f009e;
}

/* Order */
.order-action {
  display: flex;
  align-items: center;
  justify-content: center;
  /* -webkit-user-select: none;
  -moz-user-select: none; */
  user-select: none;
}
.order-action-button {
  position: relative;
  border: none;
  z-index: 1;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #4f009e;
}
.order-action-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 0.25s;
  background: #4f009e;
}
.order-action--regular .order-action-button {
  font-size: 30px;
}
.order-action-button._remove {
  opacity: 0;
  visibility: hidden;
  transform: translateX(12px);
  transition: transform 0.25s, opacity 0.25s, visibility 0.25s, background 0.25s;
}
.order-action--regular .order-action-count {
  font-size: 26px;
  width: 42px;
}
.order-action-count {
  font-weight: 500;
  color: #4f009e;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: translateX(12px);
  transition: transform 0.25s, opacity 0.25s, visibility 0.25s, color 0.25s;
}
.order-action-button._add {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background: #4f009e;
  transition: background 0.25s;
  color: #181818;
}
@media (min-width: 601px) {
  .order-action-button:after {
    pointer-events: none;
  }
}
.ripple:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  background: #f7906c;
  background: #4f009e;
}
/* CSS order item*/
.order-item-list {
  display: flex;
  flex-direction: column;
  grid-gap: 22px;
  gap: 22px;
}
.order-item-list .order-item:not(:last-child) {
  border-bottom: 1px solid #252424;
  padding-bottom: 16px;
}
.order-item {
  display: flex;
  flex-direction: column;
}
.order-item-title {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.order-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-item-price {
  font-weight: 500;
  display: flex;
  align-items: center;
  line-height: 1;
}
.menu-item-price--small .menu-item-price__current {
  font-size: 18px;
}
.menu-item-price__current {
  display: flex;
  align-items: flex-start;
  color: #4f009e;
}
/* .menu-item-price__current b {
  font-weight: 500;
} */
.menu-item-price--small .menu-item-price__current span {
  font-size: 12px;
}
.menu-item-price__current span {
  margin-left: 2px;
  font-weight: 400;
}

.order-action--value .order-action-button._remove {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.order-action--small .order-action-button {
  font-size: 24px;
}
.order-action--value .order-action-button {
  background: #181818;
  box-shadow: none;
  align-items: center;
}
.order-action--small .order-action-count {
  font-size: 20px;
  width: 32px;
}
.order-action--value .order-action-count {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.order-action--value .order-action-button._add {
  box-shadow: none;
  background: #181818;
  color: #4f009e;
}
/* Order Empty */
.order__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order__empty svg {
  color: #e3e3e3;
}
.order__empty .base-button {
  margin-top: 16px;
  display: flex;
  max-width: 320px;
  font-size: 18px;
  padding: 10px 26px;
}
.base-button--bold {
  font-weight: 500;
}
.base-button--default {
  background: #4f009e;
  border-color: #4f009e;
  color: #181818;
}
.base-button {
  position: relative;
  width: auto;
  line-height: 115%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 8px;
  padding: 6px 17px 7px;
  font-weight: 400;
  white-space: nowrap;
  /* -webkit-user-select: none;
  -moz-user-select: none; */
  user-select: none;
  text-decoration: none;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-color 0.25s ease, box-shadow 0.25s ease, filter 0.25s ease;
}
/* btn check order */
.place-order {
  /* -webkit-user-select: none;
  -moz-user-select: none; */
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 100;
  position: fixed;
  max-width: 560px;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  height: 54px;
  color: #181818;
  font-weight: bold;
  background: #4f009e;
  border: none;
  border-radius: 26px 26px 0 0;
}
